/* Reset e estilos gerais */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: #FFFFFF;
    background-color: #303030;
}

/* Estilo da #div */
#div {
    background-color: #303030;
    padding: 100px;
    color: #FFF;
    font-size: 2.5rem;
    margin: 0 -10px;
}

/* Layout com grid para #div2 */
#div2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Colunas responsivas */
    gap: 20px; /* Espaçamento adequado entre os itens */
    padding: 50px;
    background-color: #F9F9F9;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 50px;
    border-radius: 10px; /* Bordas arredondadas para um visual moderno */
}

/* Estilo para os itens dentro da #div2 */
#div2 > div {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #000000;
}

/* Layout com flex para #div3 */
#div3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    font-size: 2.3rem;
    padding-left: 60px;
}

/* Estilo para .div4 */
.div4 {
    margin-top: -600px;
    margin-left: auto;
    padding: 100px 100px 150px 300px;
    width: 40%;
    position: relative;
}

/* Estilo para imagens dentro de .div4 */
.div4 img {
    max-width: 150%; /* Aumenta o tamanho da imagem além do contêiner */
    height: auto;
    margin-top: 250px;
    margin-left: -50px;
    padding-right: 30px;
    object-fit: contain; /* Garante que a imagem mantenha suas proporções */
}

/* Estilo para .div5 */
.div5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 100px 20px;
    background-color: #303030;
    color: #FFF;
    font-size: 2.2rem;
}

/* Estilo para o título dentro de .div5 */
.div5 h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

/* Estilo para inputs */
.div5 input {
    width: 30%;
    height: 40px;
    padding: 10px;
    margin: 15px 0;
    font-size: 1.1rem;
    border: 2px solid #FFF;
    border-radius: 5px;
    background-color: #e7dddd;
    color: #000;
}

.div5 input::placeholder {
    color: #bbb;
}

/* Estilo para o botão de envio */
.submit-btn {
    background-color: #C07212;
    color: #FFF;
    font-size: 1.1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
}

.submit-btn:hover {
    background-color: #a65a12;
}

/* Estilo para o link da planilha */
.link-btn {
    display: inline-block;
    background-color: #C07212;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
}

.link-btn:hover {
    background-color: #a65a12;
}

